.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
}

input {
  margin: 10px;
  width: 300px;
  padding: 10px;
  border: none
}

input:required:not(:placeholder-shown):invalid {
  border: 2px dashed red;
}

.linha {
  display: flex;
  flex-direction: row;
}

.form-grid input {
  width: auto;
  margin: 5px 15px 15px 0;
}


.form-grid label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  flex-basis: 50%;
}