.mapa {
  display: block;
  align-items: center;
  position: relative;
  width: 800px;
  height: 500px;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: inherit;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  line-height: 1.2;
  font-size: 1em;
  height: minmax(fit-content, 500px);
  overflow: auto;
}