html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  background-color: #deefe7;
  height: 100vh;
  color: #002333;
}

h2 {
  text-align: center;
  color: #159a9c;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  height: inherit;
  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: #159a9c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 20px;
  transition-duration: 0.4s;
  margin: 10px;
}

button:hover {
  background-color: #118183;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
}
